.repair-main {
  padding: 26px 48px 50px 48px;
  background-color: #f8f8f8;
  height: 100%;
}
.repair-main .el-input {
  width: 360px;
  height: 36px;
  margin-right: 12px;
}
.repair-main .el-button {
  font-family: PingFangSC-Semibold;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  width: 100px;
  vertical-align: middle;
}
.repair-main .reset {
  opacity: 0.72;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #000000;
  background-color: #ECEEF5;
}
.repair-main .rebuild {
  float: right;
  width: 136px;
}
.repair-main .rebuild span {
  display: inline-block;
}
.repair-main .repair-main-contain {
  background-color: #fff;
  padding: 30px 20px 30px;
  padding-bottom: 30px;
}
.repair-main .repair-main-contain .repair-table .el-table__header {
  border-right: 3px solid #f5f7fa;
}
.repair-main .repair-main-contain .repair-table .el-switch {
  height: 23px;
  line-height: none;
}
.repair-main .repair-main-contain .repair-table .el-table .cell {
  line-height: none;
}
.repair-main .el-pagination {
  font-weight: normal;
}
