<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../lib-master/theme-chalk/index.css"> -->
    <!-- <link rel="stylesheet" href="../element.css"> -->
    <link rel="stylesheet" type="text/css" href="../lib-master/theme-chalk/index.css">

    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/markert-main.css">
    <link rel="stylesheet" href="../css/analysis.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../css/rebuild.css">
    <link rel="stylesheet" href="../css/repair-main.css">

</head>

<body>
    <div id="app">
        <div class="contain">
            <!-- 头部导航 -->
            <div class="header">
                <img class="bank" src="../assets/logeo.png"></img>
                <span class="market">分行销售一体化系统</span>
                <span class="vericon"></span>
                <div class="button-group" style="cursor: pointer;">
                    <span v-for="(item,index) in curent" :style="active === item ? activeButton : ''" :key="index"
                        @click="handleCurent(item)">{{ item }}</span>
                </div>
                <div class="user">
                    <span class="userinfo el-icon-user-solid">{{userName}}</span>
                    <div @click='logOut' class="logout iconfont" style="cursor: pointer;">&#xe60b;</div>
                </div>

            </div>
            <!-- 营销名单主体 -->
            <div v-show='isshow' class="main">
                <div>
                    <el-input v-model='searchVal' size="small"></el-input>
                    <el-button type="primary" class="search" @click='searchContent()' size="small">查询</el-button>
                    <el-button class="reset" @cilck='resetContent()' size="small">重置</el-button>
                </div>
                <div class="tbody">
                    <div style="margin-top: 26px;width: 33.3%;height: 360px;" v-for="(item, index) in indexData"
                        :key="index">
                        <div class="showlist" :style="{ marginRight: ((index + 1) % 3 === 0) ? 0 : 27 + 'px'}">

                            <div style="height:24px;position: relative;">
                                <span class=" card">{{item.modelName}}</span>
                                <span class=" data-number">数据量{{item.modelNumber }}</span>
                            </div>
                            <div style="margin-top: 12px;height:14px;">
                                <span class="data">{{item.modelData }}</span>
                                <span class="aldown">已下载{{item.modelDownNum}}次</span>
                            </div>
                            <div class="introduce">
                                <div style="font-size:16px">模型简介:</div>
                                <p>{{item.modelIntroduce}}</p>
                            </div>
                            <div class="operation">

                                <span style="cursor: pointer;" @click="openAya(item)"> <i
                                        class="el-icon-s-data"></i>分析</span>

                                <!-- <span style="cursor: pointer;"><i class="el-icon-s-comment"></i>评论</span> -->

                                <span style="cursor: pointer;" @click="openDetail(item)"><i class="el-icon-tickets">
                                    </i>详情</span>

                                <a href="" style="text-decoration: none;"> <span style="cursor: pointer;"><i
                                            class="el-icon-download"></i>下载</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 分页 -->
                <div style="text-align: center;margin-top: 20px;">
                    <el-pagination v-if="indexTotal > reqParams.size" background layout="prev, pager, next"
                        :total="indexTotal" :page-size="reqParams.size" :current-page="reqParams.page"
                        @current-change="changePager">
                    </el-pagination>
                </div>


            </div>
            <!-- 名单维护主体 -->
            <div class=" repair-main" v-show='!isshow'>
                <div class="repair-main-contain">
                    <div style="margin-top: 20px;">
                        <el-input v-model='repairSearchVal' size="small"></el-input>
                        <el-button type="primary" class="search" @click='searchRepairConcetn()' size="small">查询
                        </el-button>
                        <el-button class="reset" @click=resetRepairContent() size="small">重置</el-button>
                        <el-button type=primary class="rebuild" @click='rebuild=true' size="small">新建模型</el-button>
                    </div>
                    <!-- 表格 -->
                    <div class="repair-table">
                        <el-table :data="tableData" :header-cell-style='headrepairClass' :cell-style='rowClass'
                            style="width: 100%" fit>
                            <el-table-column prop="number" label="序号">
                            </el-table-column>
                            <el-table-column prop="modelName" label="模型名称">
                            </el-table-column>
                            <el-table-column prop="address" label="作者">
                            </el-table-column>
                            <el-table-column prop="createTime" label="投产日期">
                            </el-table-column>
                            <el-table-column prop="updateTime" label="最近更新日期">
                            </el-table-column>
                            <el-table-column prop="status" label="状态">
                                <template slot-scope="scope">
                                    <el-switch style="display: block" v-model="scope.row.status" active-color="#13ce66"
                                        inactive-color="#ff4949" active-text="发布" inactive-text="暂停"
                                        @change='changeSwich(scope.row)'>
                                    </el-switch>
                                </template>
                            </el-table-column>
                            <el-table-column prop="operation" label="操作">
                                <template slot-scope="scope">
                                    <el-button type="text" style="color: #1677FF;" @click='openEdit(scope.row)'>编辑</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                    <!-- 维护分页 -->
                    <div style="text-align: center;margin-top: 20px;">
                        <el-pagination background layout="prev, pager, next" :total="repairTotal"
                            :page-size="repairParams.size" :current-page="repairParams.page"
                            @current-change="repairChangePager">
                        </el-pagination>
                    </div>
                </div>
            </div>
            <!-- 详情页 -->
            <!-- <el-button type="text" @click="detail = true">点击打开 Dialog</el-button> -->
            <el-dialog title="详情" :visible.sync="detail" width="1160px" class="deta">
                <div class="bd"></div>
                <div class="detail-show">
                    <div class=" detail-list left">
                        <div class='detail-list-top'>
                            <span>模型名称</span>
                            <span>数据日期</span>
                            <span>数据量</span>
                        </div>
                        <div class="detail-list-body">
                            <span>{{}}</span>
                            <span>2020/08/28</span>
                            <span>20,200.34</span>
                        </div>
                        <div class="detail-list-bott">模型介绍</div>
                        <div class="detail-list-footer">
                            <p>
                                介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容
                                <!-- 介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容
                                介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容
                                介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容 -->
                            </p>

                        </div>
                    </div>
                    <div class=" video right">
                        <!-- <span class="el-icon-video-camera"></span> -->
                        <video id="mse" autoplay="false"  controls="controls">
                            <source :src="detailInfo.videoUrl" type="video/mp4">
                         </video>
                    </div>
                </div>
                <div class="detail-table">
                    <div style="height: 16px;">

                        <span class="left">下载日志</span>
                        <span class="right">
                            累计下载n次
                        </span>
                    </div>
                    <div class="totalBank" >{{totalBank}}个分行下载</div>
                    <div>
                        <el-scrollbar style="height:250px;">
                            <el-table :data="tableDatadetail" style="width: 100%" :header-cell-style='headdetailClass'
                                :cell-style='rowClass'>
                                <el-table-column prop="downloadTime" label="下载日期">
                                </el-table-column>
                                <el-table-column prop="userName" label="下载账户">
                                </el-table-column>
                                <el-table-column prop="affiliatedBranch" label="所属分行">
                                </el-table-column>
                            </el-table>
                        </el-scrollbar>
                    </div>
                    <div>总记录 30 条</div>
                    <button>立即下载</button>
                </div>
                <span slot="footer" class="dialog-footer">
                </span>
            </el-dialog>
            <!-- 重建页 -->
            <el-dialog title="新建模型" :visible.sync="rebuild" width="1160px" class="rebu">
                <div class="bd"></div>
                <!-- 表单 -->
                <el-form :model="formData">
                    <el-form-item label="模型名称">
                        <div v-if='false' style="width:272px;height:36px;background: #F5F5F5;
                        border-radius: 4px;margin-top: 30px;">信用卡拉新模型</div>
                        <el-input v-else v-model="formData.modelName" class="model-name"></el-input>
                    </el-form-item>
                    <el-form-item label="模型介绍" style="margin-top: 55px;">
                        <el-input v-model="formData.modelIntroduce" class="intruduce"></el-input>
                    </el-form-item>
                    <el-form-item label="视频上传" style="margin-top: 70px;">
                        <!-- <el-input v-model="formData.uploadVideo" class="upvideo"></el-input>
                        <el-button class="select">选择视频</el-button> -->
                        <el-upload class="upload-demo" ref="upload" action="http://22.5.241.7/dacp/upload"
                            :show-file-list="false" :on-progress="handleSuccess" :on-change="changeFile"
                            :http-request='uploadSectionFile'
                            :auto-upload="false">
                            <el-input size="small" type="primary" :value="fileName" class="upvideo" slot="trigger"
                                aria-placeholder="请选择视频"></el-input>
                            <el-button size="small" @click="submitUpload" class="select">上传
                            </el-button>
                             <!-- 进度条 -->
                            <!-- <el-progress v-show="videoFlag" 
                            :percentage="videoUploadPercent"
                            style="margin-top:7px;width: 400px;">
                            </el-progress> -->
                        </el-upload>
                        <!-- <el-button>上传</el-button> -->
                    </el-form-item>
                    <el-form-item label="数据盒关联" style="margin-top: 70px;">
                        <!-- <el-input v-model="formData.uploadData" class="updata"></el-input>
                        <el-button class="relation">关联</el-button> -->
                        <!-- <el-upload class="upload-demo" ref="upData" action="https://jsonplaceholder.typicode.com/posts/"
                            :show-file-list="false"  
                            :on-change="changeDataFile" :http-request='uploadSectionFile' :auto-upload="false"> -->
                        <el-input size="small" type="primary" v-model="formData.dataBoxId" class="updata"></el-input>
                        <el-button size="small" @click="relation" class="relation">关联地址
                        </el-button>
                        <!-- </el-upload> -->
                        <!-- <el-button>上传</el-button> -->
                    </el-form-item>
                    <el-form-item>
                        <div class="last">
                            <el-button type='primary' @click='publish()'>发布</el-button>
                            <el-button @click='save()'>保存</el-button>
                            <el-button @click='rebuild = false'>取消</el-button>
                        </div>
                    </el-form-item>
                    <span slot="footer" class="dialog-footer">
                    </span>
                </el-form>
            </el-dialog>
            <!-- 编辑页 -->
            <el-dialog title="编辑模型" :visible.sync="editData" width="1160px" class="rebu">
                <div class="bd"></div>
                <!-- 表单 -->
                <el-form :model="editFormData">
                    <el-form-item label="模型名称">
                        <div v-if='true' style="width:272px;height:36px;background: #F5F5F5;
                        border-radius: 4px;margin-top: 30px;">{{editFormData.modelName}}</div>
                        <el-input v-else v-model="editFormData.modelName" class="model-name"></el-input>
                    </el-form-item>
                    <el-form-item label="模型介绍" style="margin-top: 55px;">
                        <el-input v-model="editFormData.modelIntroduce" class="intruduce"></el-input>
                    </el-form-item>
                    <el-form-item label="视频上传" style="margin-top: 70px;">
                        <!-- <el-input v-model="formData.uploadVideo" class="upvideo"></el-input>
                        <el-button class="select">选择视频</el-button> -->
                        <el-upload class="upload-demo" ref="editUpload" action="http://22.5.241.7/dacp/download/uploadVideo"
                            :show-file-list="false" :on-progress="editHandleSuccess" :on-change="editChangeFile"
                            :http-request='editUploadSectionFile'
                            :auto-upload="false">
                            <el-input size="small" type="primary" :value="editFileName" class="upvideo" slot="trigger"
                                aria-placeholder="请选择视频"></el-input>
                            <el-button size="small" @click="editSubmitUpload" class="select">上传
                            </el-button>
                            <!-- <el-progress v-show="videoEditFlag" 
                            :percentage="videoEditPercent"
                            style="margin-top:7px;width: 400px;">
                            </el-progress> -->
                        </el-upload>
                        <!-- <el-button>上传</el-button> -->
                    </el-form-item>
                    <el-form-item label="数据盒关联" style="margin-top: 70px;">
                        <!-- <el-input v-model="formData.uploadData" class="updata"></el-input>
                        <el-button class="relation">关联</el-button> -->
                        <!-- <el-upload class="upload-demo" ref="upData" action="https://jsonplaceholder.typicode.com/posts/"
                            :show-file-list="false"  
                            :on-change="changeDataFile" :http-request='uploadSectionFile' :auto-upload="false"> -->
                        <el-input size="small" type="primary" v-model="editFormData.dataBoxId" class="updata"></el-input>
                        <el-button size="small" @click="editRelation" class="relation">关联地址
                        </el-button>
                        <!-- </el-upload> -->
                        <!-- <el-button>上传</el-button> -->
                    </el-form-item>
                    <el-form-item>
                        <div class="last">
                            <el-button type='primary' @click='editPublish()'>发布</el-button>
                            <el-button @click='editSave()'>保存</el-button>
                            <el-button @click='editData = false'>取消</el-button>
                        </div>
                    </el-form-item>
                    <span slot="footer" class="dialog-footer">
                    </span>
                </el-form>
            </el-dialog>
            <!-- 分析页 -->
            <el-dialog title="分析" :visible.sync="analy" width="1160px" class="anay">
                <div class="bd"></div>
                <!-- 表格表单 -->
                <el-form :model='formAna'>
                    <el-form-item>
                        <el-select v-model="affiliatedBranch" placeholder="请选择" @change='changeVal'>
                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-scrollbar style="height: 350px;">
                        <el-table ref="table" :data="tableDataAna" show-summary :summary-method="handleSummary"
                            style="width: 100%" :header-cell-style='ayaheadClass' :cell-style='rowClass'
                            highlight-current-row>
                            <el-table-column prop="date" label="月份" width="180">
                            </el-table-column>
                            <el-table-column label="干预人数" width="180">
                                <template slot-scope="scope">
                                    <div v-show='scope.row.openfm'>{{scope.row.interventionNum}}</div>
                                    <el-form-item v-show="!scope.row.openfm">
                                        <el-input v-model='formAna.interventionNum'></el-input>
                                    </el-form-item>
                                </template>
                            </el-table-column>
                            <el-table-column label="转化人数">
                                <template slot-scope="scope">
                                    <div v-show='scope.row.openfm'>{{scope.row.convertNum}}</div>
                                    <el-form-item v-show="!scope.row.openfm">
                                        <el-input v-model='formAna.convertNum'></el-input>
                                    </el-form-item>
                                </template>
                            </el-table-column>
                            <el-table-column label="AUM提升">
                                <template slot-scope="scope">
                                    <div v-show='scope.row.openfm'>{{scope.row.aumPromote}}</div>
                                    <el-form-item v-show="!scope.row.openfm">
                                        <el-input v-model='formAna.aumPromote'></el-input>
                                    </el-form-item>
                                </template>
                            </el-table-column>
                            <el-table-column label="转化率">
                                <template slot-scope='scope'>
                                    <div v-show='scope.row.openfm'>{{scope.row.conversionRate+'%'}}</div>
                                    <el-form-item v-show="!scope.row.openfm" >
                                      <el-input :value='trans' placeholder="请输入数字" ></el-input>
                                    </el-form-item>
                                  </template>
                            </el-table-column>
                            <el-table-column label="操作" label-width='100px'>
                                <template slot-scope="scope">
                                    <div v-show='scope.row.openfm'>
                                        <el-button type="text" @click='openform(scope.row)' v-if='!power'>录入
                                        </el-button>
                                        <el-button type="text" @click="toogleExpand(scope.row)"
                                            style="position: relative;" :style='scope.row.logColor? fontwe:""'>日志

                                            <i class="el-icon-caret-bottom" aria-hidden="false"
                                                v-show='scope.row.caretBottom'></i>
                                        </el-button>
                                    </div>
                                    <el-form-item v-show='!scope.row.openfm'>
                                        <!-- 录入成功 -->
                                        <el-button class="icon-buttons" type='text' @click='onsubmit(scope.row)'>
                                            <i class="el-icon-success" aria-hidden="true"></i>
                                        </el-button>
                                        <!-- 退出录入 -->
                                        <el-button type='text' class="icon-buttonc" @click='signOut(scope.row)'>
                                            <i class="el-icon-error" aria-hidden="true"></i>
                                        </el-button>
                                    </el-form-item>
                                </template>
                            </el-table-column>
                            <el-table-column type="expand" width="1">
                                <template slot-scope="scope">
                                    <el-table :data='scope.row.log' style="width:100%"
                                        :header-cell-style='ayaLogheadClass' :cell-style='ayarowClass' class="hide">
                                        <el-table-column prop='insertDate' label='录入时间'></el-table-column>
                                        <el-table-column prop='userName' label='录入姓名'></el-table-column>
                                        <el-table-column prop='affiliatedBranch' label='录入机构'></el-table-column>
                                        <el-table-column prop='insertMonth' label='月份'></el-table-column>
                                    </el-table>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-scrollbar>
                </el-form>
                <span slot="footer" class="dialog-footer">
                </span>
            </el-dialog>

        </div>
 

    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="../vue.js"></script>
    <!-- <script src="../element.js"></script> -->
    <script src="../lib-master/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="../axios.min.js"></script>
    <!-- <script src="../store.js"></script> -->
    <!-- axios添加默认地址，请求头 -->
    <script src="../api.js"></script>
    <!-- aes加解密 -->
    <script src='../crypto-js.js'></script>
    <script src="../bindcrypto-js.js"></script>
    <script src="../total.js"></script>

    
</body>

</html>