<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../lib-master/theme-chalk/index.css"> -->
    <!-- <link rel="stylesheet" href="../element.css"> -->
    <link rel="stylesheet" type="text/css" href="../lib-master/theme-chalk/index.css">

    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/markert-main.css">
    <link rel="stylesheet" href="../css/analysis.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../css/rebuild.css">
    <link rel="stylesheet" href="../css/repair-main.css">

</head>

<body>
    <div id="app">
        <div class="contain">
            <!-- 头部导航 -->
            <div class="header">
                <span class="bank">中信银行</span>
                <span class="market">分行销售一体化系统</span>
                <span class="vericon"></span>
                <div class="button-group" style="cursor: pointer;">
                    <span v-for="(item,index) in curent" :style="active === item ? activeButton : ''" :key="index"
                        @click="handleCurent(item)">{{ item }}</span>
                </div>
                <div class="user">
                    <span class="userinfo el-icon-user-solid">{{userName}}</span>
                    <div @click='logOut' class="logout iconfont">&#xe60b;</div>
                </div>

            </div>
            <!-- 营销名单主体 -->
            <div v-show='isshow' class="main">
                <div>
                    <el-input v-model='searchVal'></el-input>
                    <el-button type="primary" class="search" @click='searchContent()'>查询</el-button>
                    <el-button class="reset" @cilck='resetContent()'>重置</el-button>
                </div>
                <div class="tbody">
                    <div style="margin-top: 26px;width: 33.3%;height: 360px;" v-for="(item, index) in indexData" :key="index">
                        <div class="showlist" :style="{ marginRight: ((index + 1) % 3 === 0) ? 0 : 27 + 'px'}">

                            <div style="height:24px;position: relative;">
                                <span class=" card">{{item.modelName}}</span>
                                <span class=" data-number">数据量{{item.modelNumber }}</span>
                            </div>
                            <div style="margin-top: 12px;height:14px;">
                                <span class="data">{{item.modelData }}</span>
                                <span class="aldown">已下载{{item.modelDownNum}}次</span>
                            </div>
                            <div class="introduce">
                                <div style="font-size:16px">模型简介:</div>
                                <p>{{item.modelIntroduce}}</p>
                            </div>
                            <div class="operation">

                                <span style="cursor: pointer;" @click="openAya()"> <i
                                        class="el-icon-s-data"></i>分析</span>

                                <!-- <span style="cursor: pointer;"><i class="el-icon-s-comment"></i>评论</span> -->

                                <span style="cursor: pointer;" @click="openDetail(item)"><i class="el-icon-tickets">
                                    </i>详情</span>

                                <a href="" style="text-decoration: none;"> <span style="cursor: pointer;"><i
                                            class="el-icon-download"></i>下载</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 分页 -->
                <div style="text-align: center;margin-top: 20px;">
                    <el-pagination v-if="indexTotal > reqParams.size" background layout="prev, pager, next"
                        :total="indexTotal" :page-size="reqParams.size" :current-page="reqParams.page"
                        @current-change="changePager">
                    </el-pagination>
                </div>


            </div>
            <!-- 名单维护主体 -->
            <div class=" repair-main" v-show='!isshow'>
                <div class="repair-main-contain">
                    <div style="margin-top: 20px;">
                        <el-input></el-input>
                        <el-button type="primary" class="search" @click='searchRepairConcetn()'>查询</el-button>
                        <el-button class="reset">重置</el-button>
                        <el-button type=primary class="rebuild" @click='rebuild=true'>新建模型</el-button>
                    </div>
                    <!-- 表格 -->
                    <div class="repair-table">
                        <el-table :data="tableData" :header-cell-style='headrepairClass' :cell-style='rowClass'
                            style="width: 100%" fit>
                            <el-table-column prop="number" label="序号">
                            </el-table-column>
                            <el-table-column prop="modelName" label="模型名称">
                            </el-table-column>
                            <el-table-column prop="address" label="作者">
                            </el-table-column>
                            <el-table-column prop="createTime" label="投产日期">
                            </el-table-column>
                            <el-table-column prop="updateTime" label="最近更新日期">
                            </el-table-column>
                            <el-table-column prop="status" label="状态">
                                <template slot-scope="scope">
                                    <el-switch style="display: block" v-model="status" active-color="#13ce66"
                                        inactive-color="#ff4949" active-text="发布" inactive-text="暂停"
                                        @change='changeSwich(scope.row)'>
                                    </el-switch>
                                </template>
                            </el-table-column>
                            <el-table-column prop="operation" label="操作">
                                <template slot-scope="scope">
                                    <el-button type="text" style="color: #1677FF;" @click='editData=true'>编辑</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                    <!-- 维护分页 -->
                    <div style="text-align: center;margin-top: 20px;">
                        <el-pagination background layout="prev, pager, next" :total="repairTotal"
                            :page-size="repairParams.size" :current-page="repairParams.page"
                            @current-change="repairChangePager">
                        </el-pagination>
                    </div>
                </div>
            </div>
            <!-- 详情页 -->
            <!-- <el-button type="text" @click="detail = true">点击打开 Dialog</el-button> -->
            <el-dialog title="详情" :visible.sync="detail" width="1160px" class="deta">
                <div class="bd"></div>
                <div class="detail-show">
                    <div class=" detail-list left">
                        <div class='detail-list-top'>
                            <span>模型名称</span>
                            <span>数据日期</span>
                            <span>数据量</span>
                        </div>
                        <div class="detail-list-body">
                            <span>{{detailParams.modelName}}</span>
                            <span>2020/08/28</span>
                            <span>20,200.34</span>
                        </div>
                        <div class="detail-list-bott">模型介绍</div>
                        <div class="detail-list-footer">
                            <p>
                                介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容
                                <!-- 介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容
                                介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容
                                介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容介绍内容 -->
                            </p>

                        </div>
                    </div>
                    <div class=" video right">
                        <!-- <span class="el-icon-video-camera"></span> -->
                        <video :src="detailParams.videoUrl"></video>
                    </div>
                </div>
                <div class="detail-table">
                    <div>
                        <span class="left">下载日志</span>
                        <span class="right">累计下载N次</span>
                    </div>
                    <div>
                        <el-scrollbar style="height:250px;">
                            <el-table :data="tableDatadetail" style="width: 100%" :header-cell-style='headdetailClass'
                                :cell-style='rowClass'>
                                <el-table-column prop="downloadTime" label="下载日期">
                                </el-table-column>
                                <el-table-column prop="userName" label="下载账户">
                                </el-table-column>
                                <el-table-column prop="affiliatedBranch" label="所属分行">
                                </el-table-column>
                            </el-table>
                        </el-scrollbar>
                    </div>
                    <div>总记录 30 条</div>
                    <button>立即下载</button>
                </div>
                <span slot="footer" class="dialog-footer">
                </span>
            </el-dialog>
            <!-- 重建页 -->
            <el-dialog title="新建模型" :visible.sync="rebuild" width="1160px" class="rebu">
                <div class="bd"></div>
                <!-- 表单 -->
                <el-form :model="formData">
                    <el-form-item label="模型名称">
                        <div v-if='false' style="width:272px;height:36px;background: #F5F5F5;
                        border-radius: 4px;margin-top: 30px;">信用卡拉新模型</div>
                        <el-input v-else v-model="formData.modelName" class="model-name"></el-input>
                    </el-form-item>
                    <el-form-item label="模型介绍" style="margin-top: 55px;">
                        <el-input v-model="formData.intruduce" class="intruduce"></el-input>
                    </el-form-item>
                    <el-form-item label="视频上传" style="margin-top: 70px;">
                        <el-input v-model="formData.uploadVideo" class="upvideo"></el-input>
                        <el-button class="select">选择视频</el-button>
                        <!-- <el-button>上传</el-button> -->
                    </el-form-item>
                    <el-form-item label="数据和关联" style="margin-top: 70px;">
                        <el-input v-model="formData.uploadData" class="updata"></el-input>
                        <el-button class="relation">关联</el-button>
                        <!-- <el-button>上传</el-button> -->
                    </el-form-item>
                    <el-form-item>
                        <div class="last">
                            <el-button type='primary' @click='rebuild = false'>发布</el-button>
                            <el-button @click='rebuild = false'>保存</el-button>
                            <el-button @click='rebuild = false'>取消</el-button>
                        </div>
                    </el-form-item>
                    <span slot="footer" class="dialog-footer">
                    </span>
                </el-form>
            </el-dialog>
            <!-- 编辑页 -->
            <el-dialog title="新建模型" :visible.sync="editData" width="1160px" class="rebu">
                <div class="bd"></div>
                <!-- 表单 -->
                <el-form :model="formData">
                    <el-form-item label="模型名称">
                        <div style="width:272px;height:36px;background: #F5F5F5;
                        border-radius: 4px;margin-top: 30px;">信用卡拉新模型</div>
                        <!-- <el-input v-else v-model="formData.modelName" class="model-name"></el-input> -->
                    </el-form-item>
                    <el-form-item label="模型介绍" style="margin-top: 55px;">
                        <el-input v-model="formData.intruduce" class="intruduce"></el-input>
                    </el-form-item>
                    <el-form-item label="视频上传" style="margin-top: 70px;">
                        <el-input v-model="formData.uploadVideo" class="upvideo"></el-input>
                        <el-button class="select">选择视频</el-button>
                        <!-- <el-button>上传</el-button> -->
                    </el-form-item>
                    <el-form-item label="数据和关联" style="margin-top: 70px;">
                        <el-input v-model="formData.uploadData" class="updata"></el-input>
                        <el-button class="relation">关联</el-button>
                        <!-- <el-button>上传</el-button> -->
                    </el-form-item>
                    <el-form-item>
                        <div class="last">
                            <el-button type='primary' @click='rebuild = false'>发布</el-button>
                            <el-button @click='rebuild = false'>保存</el-button>
                            <el-button @click='rebuild = false'>取消</el-button>
                        </div>
                    </el-form-item>
                    <span slot="footer" class="dialog-footer">
                    </span>
                </el-form>
            </el-dialog>
            <!-- 分析页 -->
            <el-dialog title="分析" :visible.sync="analy" width="1160px" class="anay">
                <div class="bd"></div>
                <!-- 表格表单 -->
                <el-form :model='formAna'>
                    <el-form-item>
                        <el-select v-model="affiliatedBranch" placeholder="请选择" @change='changeVal'>
                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-scrollbar style="height: 350px;">
                        <el-table ref="table" :data="tableDataAna" show-summary :summary-method="handleSummary"
                            style="width: 100%" :header-cell-style='ayaheadClass' :cell-style='rowClass'
                            highlight-current-row>
                            <el-table-column prop="date" label="月份" width="180">
                            </el-table-column>
                            <el-table-column label="干预人数" width="180">
                                <template slot-scope="scope">
                                    <div v-show='scope.row.openfm'>{{scope.row.num2}}</div>
                                    <el-form-item v-show="!scope.row.openfm">
                                        <el-input v-model='formAna.interventionNum'></el-input>
                                    </el-form-item>
                                </template>
                            </el-table-column>
                            <el-table-column label="转化人数">
                                <template slot-scope="scope">
                                    <div v-show='scope.row.openfm'>{{scope.row.num}}</div>
                                    <el-form-item v-show="!scope.row.openfm">
                                        <el-input v-model='formAna.convertNum'></el-input>
                                    </el-form-item>
                                </template>
                            </el-table-column>
                            <el-table-column label="AUM提升">
                                <template slot-scope="scope">
                                    <div v-show='scope.row.openfm'>{{scope.row.num}}</div>
                                    <el-form-item v-show="!scope.row.openfm">
                                        <el-input v-model='formAna.aumPromote'></el-input>
                                    </el-form-item>
                                </template>
                            </el-table-column>
                            <el-table-column label="转化率">
                                <template slot-scope='scope'>
                                    {{scope.row.trans+'%'}}
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" label-width='100px'>
                                <template slot-scope="scope">
                                    <div v-show='scope.row.openfm'>
                                        <el-button type="text" @click='openform(scope.row)' v-show='!power'>录入
                                        </el-button>
                                        <el-button type="text" @click="toogleExpand(scope.row)"
                                            style="position: relative;" :style='scope.row.logColor? fontwe:""'>日志

                                            <i class="el-icon-caret-bottom" aria-hidden="false"
                                                v-show='scope.row.caretBottom'></i>
                                        </el-button>
                                    </div>
                                    <el-form-item v-show='!scope.row.openfm'>
                                        <!-- 录入成功 -->
                                        <el-button class="icon-buttons" type='text' @click='onsubmit(scope.row)'>
                                            <i class="el-icon-success" aria-hidden="true"></i>
                                        </el-button>
                                        <!-- 退出录入 -->
                                        <el-button type='text' class="icon-buttonc" @click='signOut(scope.row)'>
                                            <i class="el-icon-error" aria-hidden="true"></i>
                                        </el-button>
                                    </el-form-item>
                                </template>
                            </el-table-column>
                            <el-table-column type="expand" width="1">
                                <template slot-scope="scope">
                                    <el-table :data='scope.row.log' style="width:100%"
                                        :header-cell-style='ayaLogheadClass' :cell-style='ayarowClass' class="hide">
                                        <el-table-column prop='insertDate' label='录入时间'></el-table-column>
                                        <el-table-column prop='userName' label='录入姓名'></el-table-column>
                                        <el-table-column prop='affiliatedBranch' label='录入机构'></el-table-column>
                                        <el-table-column prop='insertMonth' label='月份'></el-table-column>
                                    </el-table>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-scrollbar>
                </el-form>
                <span slot="footer" class="dialog-footer">
                </span>
            </el-dialog>

        </div>


    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <script src="../vue.js"></script>
    <!-- <script src="../element.js"></script> -->
    <script src="../lib-master/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="../axios.min.js"></script>
    <!-- <script src="../store.js"></script> -->
    <!-- axios添加默认地址，请求头 -->
    <script src="../api.js"></script>
    <!-- aes加解密 -->
    <script src='../crypto-js.js'></script>
    <script src="../bindcrypto-js.js"></script>

    <script>
        // Vue.filter('forMat', (val) => {
        //      val.toLocaleDateString()
        // })
        // Vue.filter('forNumber',(val)=>{
        //     return val.toLocaleString()

        // })
        const url = window.location.href;
        const parm = decodeURI(url);
        const userparm = parm.split('?user=')[0];
        var str = decrypted("qwf+6SAWmJ8gvk7gkJetwYRLxSL28IZRZQD4t/hG+gP/amqOtEXiCCcYLgPr9cYeOGQK+12yrZl+PuwcNqsTSQ4qfO/CYA/KHZ+rNmT69FkZ0v4pxRt47ggIUQ1h77Dxen+NLcQ8iH50+tWbJ5DjnmshuLCx0n/JCIEjUjF/WqdREFDHd+zhzHm/29RKIELpSs+oXbOBZks75fj78A/eoerTirJNkyviJsWjU6bDxOOpbmDlPoB7oCjHmPD064rObixbnvISbK6JzJiEnm9Ik7dbueb+YPEw4Bja3JRfE6wLAFbai0mXyJ8OrbG1zVpSWljOCaAPi/WHyJgkhhn0SYKv8X/HvqEwYr6p3RnI/nLpAFNfeaxzQHuXpKkMM5qAKmX7zWrUCr7wyPk65SARgSt37kXTUMjggujsX2lERdadGMtNwNc4M8eA+Zd7IMdeRHmrMYg8vvlBCcC8JbsbPuRol/cuWxr7sIiw1pMDVGiUagEhPSOEO5RjTUwHtzIQ")
        // var str = decrypted(userparm)
        // var userinfo=JSON.parse(str)
        const {data:adminData} = JSON.parse(str)
        console.log(adminData)

        // console.log(userparm);
        // 加密方法
        // encrypted()
        // 解密方法
        // decrypted()
        
        var app = new Vue({
            el: '#app',

            data: {
                // 用户信息
                // isAdmin: userinfo,
                // 权限判定
                power: adminData.isAdmin,
                // 用户名
                userName: adminData.name,
                // 营销名单开关
                isshow: true,
                // collect: false,
                searchVal: '',
                // 首页分页数据
                reqParams: {
                    modelName: "",
                    page: 1,
                    size: 6
                },
                // 首页总数
                indexTotal: 100,

                // type: 'text',
                curent: ['营销名单', '名单维护'],
                active: '营销名单',
                indexData: [
                    {
                        modelName: '单卡(信用卡)拉新模型',
                        modelNumber: '888888888',
                        modelData: new Date(),
                        modelDownNum: 20,
                        modelIntroduce: '简介内容简介内容简介内容简介简介内容简介内容简介内容简介',
                        dataBox: ''

                    },
                    {
                        modelName: '单卡(信用卡)拉新模型',
                        modelNumber: '88888',
                        modelData: new Date(),
                        modelDownNum: 20,
                        modelIntroduce: '简介内容简介内容简介内容简介简介内容简介内容简介内容简介',
                        dataBox: ''

                    },
                    {
                        modelName: '单卡(信用卡)拉新模型',
                        modelNumber: '88888',
                        modelData: new Date(),
                        modelDownNum: 20,
                        modelIntroduce: '简介内容简介内容简介内容简介简介内容简介内容简介内容简介',
                        dataBox: ''

                    },
                    {
                        modelName: '单卡(信用卡)拉新模型',
                        modelNumber: '88888',
                        modelData: new Date(),
                        modelDownNum: 20,
                        modelIntroduce: '简介内容简介内容简介内容简介简介内容简介内容简介内容简介',
                        dataBox: ''

                    },
                    {
                        modelName: '单卡(信用卡)拉新模型',
                        modelNumber: '88888',
                        modelData: new Date(),
                        modelDownNum: 20,
                        modelIntroduce: '简介内容简介内容简介内容简介简介内容简介内容简介内容简介',
                        dataBox: ''

                    },
                    {
                        modelName: '单卡(信用卡)拉新模型',
                        modelNumber: '88888',
                        modelData: new Date(),
                        modelDownNum: 20,
                        modelIntroduce: '简介内容简介内容简介内容简介简介内容简介内容简介内容简介',
                        dataBox: ''

                    },

                ],
                // 激活样式
                activeButton: {
                    backgroundImage: 'linear-gradient(270deg, #8A68F3 0%, #0D45FE 100%)',
                    // background: 'red',
                    color: '#fff',
                    fontFamily: 'PingFangSC-Medium',
                    fontSize: '24px',
                    borderRadius: '4px',
                    // backGroudColor: 'Red',
                    // backGroundImage: 'linearGradient(270deg, #8A68F3 0%, #0D45FE 100%)',
                    width: '140px',
                    height: '44px',
                    lineHeight: ' 42px',
                    textAlign: "center"
                },

                //名单维护数据
                repairParams: {
                    modelName: "",
                    page: 1,
                    size: 10
                },
                // 维护总数
                repairTotal: 100,
                // 发布状态
                status: true,
                tableData: [{
                    address: '北京分行',
                    number: '1',
                    createTime: '2016-05-02',
                    updateTime: '2016-05-02',
                    modelName: '王小虎',
                    operation: '编辑'
                }, {
                    address: '北京分行',
                    number: '2',
                    createTime: '2016-05-04',
                    updateTime: '2016-05-02',
                    modelName: '王小虎',
                    operation: '编辑'
                }, {
                    address: '北京分行',
                    number: '3',
                    createTime: '2016-05-01',
                    updateTime: '2016-05-02',
                    modelName: '王小虎',
                    operation: '编辑'
                }, {
                    address: '北京分行',
                    number: '4',
                    createTime: '2016-05-03',
                    updateTime: '2016-05-02',
                    modelName: '王小虎',
                    operation: '编辑'
                }, {
                    address: '北京分行',
                    number: '3',
                    createTime: '2016-05-01',
                    updateTime: '2016-05-02',
                    modelName: '王小虎',
                    operation: '编辑'
                }, {
                    address: '北京分行',
                    number: '3',
                    createTime: '2016-05-01',
                    updateTime: '2016-05-02',
                    modelName: '王小虎',
                    operation: '编辑'
                }
                ],
                // 重建页数据
                rebuild: false,
                formData: {
                    modelName: '信用卡拉新模型',
                    intruduce: '评论内容',
                    uploadVideo: '',
                    uploadData: ''
                },
                // 编辑页数据
                editData: false,

                // 详情页数据

                detail: false,
                detailParams: {
                    // 视频地址
                    videoUrl: null,
                    modelName: null,
                },
                tableDatadetail: [{
                    // 下载日期
                    downloadTime: '2016-05-02',
                    // 下载账户
                    userName: '王小虎',
                    // 所属分行
                    affiliatedBranch: '上海市普陀区金沙江路 1518 弄'
                }, {
                    downloadTime: '2016-05-04',
                    userName: '王小虎',
                    affiliatedBranch: '上海市普陀区金沙江路 1517 弄'
                }, {
                    downloadTime: '2016-05-01',
                    userName: '王小虎',
                    affiliatedBranch: '上海市普陀区金沙江路 1519 弄'
                }, {
                    downloadTime: '2016-05-03',
                    userName: '王小虎',
                    affiliatedBranch: '上海市普陀区金沙江路 1516 弄'
                },
                {
                    downloadTime: '2016-05-01',
                    userName: '王小虎',
                    affiliatedBranch: '上海市普陀区金沙江路 1519 弄'
                }, {
                    downloadTime: '2016-05-01',
                    userName: '王小虎',
                    affiliatedBranch: '上海市普陀区金沙江路 1519 弄'
                }, {
                    downloadTime: '2016-05-01',
                    userName: '王小虎',
                    affiliatedBranch: '上海市普陀区金沙江路 1519 弄'
                }, {
                    downloadTime: '2016-05-01',
                    userName: '王小虎',
                    affiliatedBranch: '上海市普陀区金沙江路 1519 弄'
                },]
                ,
                // 分析页数据
                analy: false,
                // 日志加粗
                fontwe: {
                    fontWeight: 900
                },
                formAna: {
                    // 干预人数
                    interventionNum: null,
                    // 转化人数
                    convertNum: null,
                    // AUM提升
                    aumPromote: null,
                    trouble: null,
                    trasform: null,
                    incres: null,
                    // value: '选项1',
                },
                // 转化率
                conversionRate: null,
                // 所属分行
                affiliatedBranch: '选项1',
                // 分析数据
                tableDataAna: [{
                    date: '1月',

                    // 日志下拉
                    // caretBottom: true,
                    address: '上海市普陀区金沙江路 1518 弄',
                    num: '1',
                    num2: '300',
                    trans: 'kk',
                    log: [{
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }, {
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }, {
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }
                    ]
                }, {
                    date: '2月',
                    address: '上海市普陀区金沙江路 1517 弄',
                    num: '1',
                    // openfm: true,
                    // caretBottom: true,
                    num2: '300',
                    trans: 'kk',
                    log: [{
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }, {
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }
                    ]
                }, {
                    date: '3月',
                    address: '上海市普陀区金沙江路 1519 弄',
                    num: '1',
                    num2: '300',
                    // openfm: true,
                    // caretBottom: true,
                    trans: 'kk',
                    log: [{
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }, {
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }
                    ]
                }, {
                    date: '4月',
                    address: '上海市普陀区金沙江路 1516 弄',
                    num: '1',
                    num2: '300',
                    // openfm: true,
                    // caretBottom: true,
                    trans: 'kk',
                    log: [{
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }, {
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }, {
                        // 录入时间
                        insertDate: '2020',
                        // 录入姓名
                        userName: '王小虎',
                        // 录入机构
                        affiliatedBranch: '北京银行',
                        // 月份
                        insertMonth: '09'
                    }
                    ]
                }],

                options: [{
                    value: '选项1',
                    label: '北京分行'
                }, {
                    value: '选项2',
                    label: '上海分行'
                }, {
                    value: '选项3',
                    label: '广东分行'
                }, {
                    value: '选项4',
                    label: '龙须面'
                }, {
                    value: '选项5',
                    label: '北京烤鸭'
                }],

            },
            watch: {
                // searchVal(newVal,oldVal){
                //     // console.log(newVal,oldVal)
                //     //     axios.get(`http://localhost:3000/brands?like_name=${newVal}`)
                //     //     .then((res)=>{
                //     //         // console.log(res)
                //     //     })
                // this.searchVal=newVal
                // }

            },
            created() {
                // 检查权限
                this.checkPower()
                // 分析数据计算

            },

            mounted() {
                this.getData()
                this.initData()

            },
            methods: {

                // 详情页表格样式操作
                // 名单维护表格样式操作
                headdetailClass() {
                    return 'text-align: center;background:#F5F7FA;height:40px'
                },
                headrepairClass() {
                    return 'text-align: center;background:#F5F7FA;height:58px'
                },
                rowClass() {
                    return 'text-align: center;'
                },
                // 营销名单切换
                handleCurent(val) {
                    // console.log(val)
                    if (this.active !== val) {
                        this.isshow = !this.isshow
                    }
                    this.active = val



                },
                // 退出登录
                logOut() {

                    this.$confirm('您确定要退出吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        if (navigator.userAgent.indexOf("Firefox") != -1 || navigator.userAgent.indexOf("Chrome") != -1) {
                            window.location.href = "about:blank";
                            window.close();
                        } else {
                            window.opener = null;
                            window.open("", "_self");
                            window.close();
                        }
                    })



                },
                // 获得用户信息
                geruserInfo() {
                    // JSON.pares(window.sessionStorage.getItem('key') || '{}')
                },
                // 判断权限
                checkPower() {
                    // console.log(this.power)
                    if (!this.power) {
                        // console.log(this.curent)
                        this.curent = ['营销名单']
                        // this.active='营销名单'
                        // console.log(this.curent)
                        // console.log(this.active)
                    }
                },
                // 查询营销名单内容
                searchContent() {
                    // this.reqParams.modelName=this.searchVal
                    // this.reqParams.page = 1
                    // this.getData()

                },
                // 重置营销名单内容
                resetContent() {
                    // this.reqParams.modelName="",
                    // this.reqParams.page=1,
                    // this.reqParams.size=6
                    // this.getData()
                },
                // 获得数据
                async getData() {
                   
                    // const {data} =await axios.post('getModelList',this.reqParams)
                    // console.log(data)
                    // this.indexData=data.data.list
                    // this.indexTotal=data.data.total
                },
                // 打开详情页
                openDetail(val) {
                    this.detail = true
                    // console.log(val)
                    this.detailParams.modelName = val.modelName
                },
                // 查询详情页模型
                searchRepairConcetn() {

                },
                // 打开分析页
                openAya() {
                    this.analy = true
                },
                // 表格合计
                // getColumns
                // 打开表格（手风琴）
                toogleExpand(row) {
                    // this.msg=true
                    // console.log(row)
                    let $table = this.$refs.table;
                    row.caretBottom = !row.caretBottom
                    row.logColor = !row.logColor
                    this.tableDataAna.map((item) => {
                        // console.log(item)
                        if (row.date != item.date) {
                            // console.log(row.data)
                            // console.log(item)
                            // console.log(item.caretBottom)
                            item.caretBottom = false
                            item.logColor = false
                            $table.toggleRowExpansion(item, false)
                        }
                    })
                    // row.caretBottom=false
                    $table.toggleRowExpansion(row)


                },
                // 表格转化率计算
                initData() {
                    this.tableDataAna.forEach(item => {
                        item.trans = ((item.num / item.num2) * 100).toFixed(2)
                        // 录入打开
                        item.openfm = true
                        // 日志下拉
                        item.caretBottom = false
                        // 日志颜色加粗
                        item.logColor = false
                    })
                    // console.log(this.tableDataAna)
                },
                // 接口获取对表格处理
                getDataAna() {
                    // axios.get().then((res)=>{
                    //   const {data}=res.data
                    // this.tableDataAna=data
                    // })
                    // this.tableDataAna.forEach((item)=>{
                    //     item.openfm=true
                    // })
                    // console.log(this.tableDataAna.openfm)
                    // console.log(this.tableDataAna)
                },
                // 表格总计
                handleSummary({ columns, data }) {
                    // console.log(columns, data)
                    var sum = []
                    var totalnum = 0;
                    var totalnum2 = 0;
                    data.forEach((item, index) => {
                        totalnum += Number(item.num)
                        totalnum2 += Number(item.num2)
                    })
                    columns.forEach((item, index) => {

                        if (index === 0) {
                            sum[index] = '总计'
                            return
                        }
                        if (item.label === '转化率') {


                            sum[index] = ((totalnum / totalnum2) * 100).toFixed(2) + '%'
                            return
                        }
                        sum[1] = totalnum2
                        sum[2] = totalnum
                        sum[3] = totalnum

                    })
                    // return ['总和', 1200, 300, 300, 300, '33%']
                    return sum

                },
                // 下拉选择变化
                changeVal(val) {
                    // console.log(val)
                    // 调接口重新渲染
                    this.affiliatedBranch = val;
                    console.log(this.affiliatedBranch)
                    // console.log(this.formAna.value)
                },
                // 表单录入打开
                openform(row) {
                    // console.log(row)
                    row.openfm = false
                    this.tableDataAna.map((item) => {
                        // console.log(item)
                        if (row.date != item.date) {
                            item.openfm = true


                        }
                    })
                    // this.formAna = {
                    //   trouble: row.num2,
                    //   trasform: row.num,
                    //   incres: row.num,
                    //   value: '选项1',
                    // }
                    this.formAna.interventionNum = row.num2,
                        this.formAna.convertNum = row.num,
                        this.formAna.aumPromote = row.num
                    // console.log(row)
                    // console.log(this.tableDataAna)
                },
                // 录入完成
                onsubmit(row) {
                    let param = {
                        interventionNum: this.formAna.interventionNum,
                        convertNum: this.formAna.convertNum,
                        aumPromote: this.formAna.aumPromote,
                        // value: this.formAna.value,
                    }
                    // console.log(param)
                    // row.num=null
                    // row.num2=null
                    // this.formAna = {
                    //   trouble: null,
                    //   trasform: null,
                    //   incres: null,
                    //   value: '选项1',
                    // }



                    if (param.interventionNum == "" || isNaN(param.interventionNum)) {//进行数字校验，如果不是数字填出对话框进行提示
                        alert("请填写数字");
                        return
                    }

                    if (param.convertNum == "" || isNaN(param.convertNum)) {//进行数字校验，如果不是数字填出对话框进行提示
                        alert("请填写数字");
                        return
                    }

                    if (param.aumPromote == "" || isNaN(param.aumPromote)) {//进行数字校验，如果不是数字填出对话框进行提示
                        alert("请填写数字");
                        return
                    }


                    this.formAna.interventionNum = null
                    this.formAna.convertNum = null
                    this.formAna.aumPromote = null

                    row.openfm = true
                    // 调用接口
                },
                // 退出录入
                signOut(row) {
                    // this.formAna = {
                    //   trouble: null,
                    //   trasform: null,
                    //   incres: null,
                    //   value: '选项1',
                    // }
                    this.formAna.interventionNum = null,
                        this.formAna.convertNum = null,
                        this.formAna.aumPromote = null,
                        row.openfm = true
                },
                // 分页事件
                changePager(newPage) {
                    // console.log(newPage)
                    this.reqParams.page = newPage
                    // this.getData()
                },
                // 维护页分页事件
                repairChangePager(newPage) {
                    this.repairParams.page = newPage
                },
                // 滑块开关事件
                changeSwich(val, row) {
                    console.log(val, row)
                },
                // 分析页表头表格样式
                ayaheadClass() {
                    return 'text-align: center;background:#F5F7FA;height:40px'
                },
                // 分析页日志表格格式
                ayaLogheadClass() {
                    return 'text-align: center;background:#f5f8ff;height:40px'
                },
                // 日志页
                ayarowClass() {
                    return 'text-align: center;background:#f5f8ff'
                },
                rowClass() {
                    return 'text-align: center;'
                }


            }
        });
    </script>
</body>

</html>